ion-toolbar.background{
    --background: url(../../assets/antique-art-bookcase-1301585.jpg) 0 0/100% 100% no-repeat;
    --min-height: 200px;
    --opacity: 0.85;   
};

ion-title {
    font-size: 2em;
}