<ion-header>
  <ion-toolbar class="background">
      <ion-title color="light">Books turn muggles <br>into wizards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let book of books | async"#slidingItem>
        <ion-item>

            <ion-label>
            
            {{ book.title }}
            
            </ion-label>
            
            </ion-item>
      <ion-item-options slot="end" (ionSwipe)="removeBook(slidingItem, book)">
        <ion-button icon-only expandable color="danger" (click)="removeBook(slidingItem,book)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="addItem()" color="dark">
            <ion-icon slot="icon-only" name="add-circle" color="success"></ion-icon>Add Item
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-footer>